<div id="sidebar">
    <div class="panel">
        <div class="header">
            <span>关于</span>
        </div>
        <div class="inner">
            <p>水友社区</p>
            <p>这里：</p>
            <ul>
                <li>可以分享你所知道的</li>
                <li>可以得到你不知道的</li>
            </ul>
        </div>
        <p></p>
        <div class="inner ads">
            <a href="#" target="_blank" class="banner sponsor_outlink" data-label="wilddog">
                <img src="/public/images/tumblr_girl.gif">
            </a>
            <div class="sep10"></div>

        </div>
    </div>
</div>