<div class="col_fade">
    <p>真爱宝粉社区，提供给大家一个良好的社区环境。</p>
    <!--<p>服务器赞助商为-->
        <!--<a href="http://www.ucloud.cn/?utm_source=zanzhu&amp;utm_campaign=cnodejs&amp;utm_medium=display" target="_blank" class="sponsor_outlink" data-label="ucloud_bottom">-->
            <!--<img src="//dn-cnode.qbox.me/FmZmxXDULF26HWvSMLGZX6Vxp5MH" title="ucloud" alt="ucloud" width="92px">-->
        <!--</a>-->
        <!--，存储赞助商为-->
        <!--<a href="http://www.qiniu.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="qiniu_bottom">-->
            <!--<img src="//dn-cnodestatic.qbox.me/public/images/qiniu.png" title="七牛云存储" alt="七牛云存储" width="115px">-->
        <!--</a>-->
        <!--，由<a href="http://alinode.aliyun.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="alinode_bottom">-->
            <!--<img src="//dn-cnode.qbox.me/FpMZk31PDyxkC8yStmMQL4XroaGD" title="alinode" alt="alinode" height="54px" width="166px">-->
        <!--</a>提供应用性能服务。-->
    <!--</p>-->
    <p>官方网站：<a href="https://www.linode.com/?r=15ca84df052ab2ac2cc4ac21714969900782a827">钱宝网(http://www.qbao.com/)</a></p>
</div>


