<%- layout('layout') %>
<%- partial('./sidebar') %>  <!-- 侧边栏 -->
<div id="content">
  <div class="panel">
    <div class="header">
      <% config.tabs.forEach(function(pair){
         var value = pair[0];
         var text = pair[1]; %>
      <a href="<%=value ? '/?tab=' + value : '/' %>"
         class="topic-tab <%=value === tab ? 'current-tab' : '' %>"><%=text%></a>
      <% }) %>
    </div>
    <div class="inner">
      <div id="topic_list">
        <!--
          collection指定遍历的数据
          将topics数据循环再传递给list页面显示
          在list页面访问每一个数据as起个名字topic
        -->
        <%-partial('./topic/list', {collection: topics, as:'topic'})%>
      </div>
      <div class="pagination">
        <ul>
          <li>
            <a href="/?tab=<%=tab%>&page=1">&lt;&lt;</a>
          </li>
          <% if(page-3 > 1){ %>
            <li><a>......</a></li>
          <% } %>
          <%
              var i = 3;
              while(i >= 1){
                if(page-i >= 1){ %>
                  <li><a href="/?tab=<%=tab%>&page=<%=page-i%>"><%=page-i%></a></li>
              <% }
                i--
              }
          %>
          <li class="disabled active">
            <a href="/?tab=<%=tab%>&page=<%=page%>"><%=page%></a>
          </li>
          <%
            var i = 1;
            while(i <= 3){
              if(page+i <= pageCount){ %>
              <li><a href="/?tab=<%=tab%>&page=<%=page+i%>"><%=page+i%></a></li>
              <% }
              i++
            }
          %>
          <% if(page+3 < pageCount){ %>
            <li><a>......</a></li>
          <% } %>
          <li>
            <a href="/?tab=<%=tab%>&page=<%=pageCount%>">&gt;&gt;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>







