<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doucument</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/stylesheets/common.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/jquery.atwho.css">
    <script src="/public/jquery-2.1.0.js"></script>
    <script src="/public/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <!-- 顶部导航 -->
    <div class="navbar">
        <%- partial('navbar') %> <!-- 显示顶部导航栏 -->
    </div>

    <!-- 内容部分-->
    <div id="main">
        <%- body %>  <!-- 将其它页面填充到这里（身体部分） -->
    </div>

    <!-- 底部 -->
    <div id='footer'>
        <div id='footer_main'>
            <div class="links">
                <!--<a class='dark' href='/rss'>RSS</a>-->
                <!--|-->
                <a class='dark' target="_blank" href='http://weibo.com/'>微博</a>
            </div>
            <%- partial('./footer') %>
        </div>
    </div>
</body>
</html>