body, p, input, textarea {
    font-size: 14px;
    word-break: break-word;
}

textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background: hsla(0, 0%, 0%, 0)
}

pre {
    background: #fee9cc;
    border: 1px dashed #ccc;
    line-height: 22px;
}

code {
    padding: 0;
    border: none;
}

p code {
    background: none;
    color: hsl(0, 0%, 50%);
    margin: 0 1px;
    padding: 1px 4px;
    border-radius: 1px;
}

div pre.prettyprint {
    font-size: 14px;
    border-radius: 0px;
    padding: 0 15px;
    border: none;
    margin: 20px -10px;
    border-width: 1px 0px;
    background: #f7f7f7;
}

form {
    margin-bottom: 0;
}

textarea {
    margin-bottom: 0;
}

input, textarea {
    background: hsla(0, 0%, 0%, 0);
}


/*
    弹幕样式
*/
.showDanmu{
    width: 98.4%;
    height: 620px;
    border: 0;
    overflow-y: scroll;
    float: left;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 25px;
}
.rg{
    background: #ff921a;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
}
.nn{
    color: #2b94ff;
    margin-left: 5px;
}
.gs{
    color: red;
    font-weight: bold;
}
.hits{
    color: red;
    font-weight: bold;
    margin-left: 10px;
}
/* 投票图表 */
.vote-name{
    width: 50px;
    float: left;
    margin-left: 15%;
    text-align: center;
}
#chartsOne{

    background: red;
    margin-left: 15%;
    color: white;
    text-align: center;
    font-size: 12px;
}
#chartsTwo{
    width: 50px;
    background: blue;
    margin-left: 20%;
    color: white;
    text-align: center;
    font-size: 12px;
}
#chartsThr{
    width: 50px;
    background: green;
    margin-left: 20%;
    color: white;
    text-align: center;
    font-size: 12px;
}
